.bg-primary.text-center.d-flex.h-100.align-items-center
  .container
    .row
      .col-lg-12
        h1.display-1.text-white 404
        p.lead.text-white Whoops. Looks like what you're `looking for can't be found.
